<link rel="stylesheet" href="/css/alumni_sign_up.css">

<!-- <i class="fa fa-times" aria-hidden="true"></i> -->
 <!-- Form details --> <br>
 <form  action="/alumni/create" method="POST">
 <div  id="form">
  <!-- Getting Account information -->
  <div class="cont" id="account-info">
    <h1>Account Login Info</h1>

    <div class="input-flex">
      <i class="fa fa-envelope" aria-hidden="true" id="e"></i>
      <input type="email" name="email" id="email" placeholder="email" required>
    </div>

    <div class="input-flex">
      <i class="fas fa-unlock-alt" id="p"></i>
     <input type="password" name="password" id="password" placeholder="Password" required>
     <i id="password-check" class="indicator">&#33;</i>

    </div>

    <div class="input-flex">
     <i class="fas fa-unlock-alt" id="rp"></i>
     <input type="password" name="confirm_password" id="re-password" placeholder="Confirm Password" required>
      <i id="re-password-check"class = "indicator">&#33;</i>
    </div>
  </div>

  <!-- Getting Personal information  -->
  <div class="cont" id="personal-info">
   <h1>Personal Info</h1>
   <div class="inp">
    <input type="text" name="name" id="name" placeholder="Name" required>
    <i id="first-name-check"class = "indicator">&#33;</i>
   </div>

   <div class="inp">
     <input type="text" list="gender" required placeholder="Enter Gender">    <i id="first-name-check"class = "indicator">&#33;</i>
   </div>
  <datalist name="gender" id="gender" >
    <option value="Male"></option>
    <option value="Female"></option>
    <option value="Other"></option>
  </datalist>



   <div class="inp">
    <input type="number" name="phone" id="phone" placeholder="Phone No +91" required>
    <i id="phone-check"class = "indicator">&#33;</i>
   </div>

  <div class="inp">
    <input type="text" list="college-name" name="college" id="ug-college-name" required placeholder="College Name">
    <i id="ug-college-name-check" class="indicator">&#33;</i>
  </div>

  <datalist id="college-name">
    <option value="University College of Engineering(BIT campus)"></option>
    <option value="Anna University(CEG campus)"></option>
  </datalist>

   <div class="ug">
    <div class="inp">
      
      <input type="text" list="ug-name" name="branch" id="ug-course" placeholder="UG Course Name" required><i id="ug-course-check"class = "indicator">&#33;</i>
    </div>

    <datalist id="ug-name" name="branch">
      <option value="B.E.Computer Science And Engineering"></option>
      <option value="B.E.Civil Engineering"></option>
      <option value="B.E.Electrical And Electronic Engineering"></option>
      <option value="B.E.Mechanical Engineering"></option>
      <option value="B.E.Information Technology"></option>
      <option value="B.E.Aeronautical Engineering"></option>
      <option value="B.E.Electronics and Communication Engineering"></option>
      <option value="B.E.Electronics and Instrumentation Engineering"></option>
      <option value="B.E.Mechatronics Engineering"></option>
      <option value="B.E.Automobile Engineering"></option>
      <option value="B.E.Chemical Engineering"></option>
      <option value="B.E.Biotechnology"></option>
      <option value="B.E.Biomedical Engineering"></option>
    </datalist>


    <div class="inp">
     <input min = "1950" max="2025" type="number" name="batchyear" id="year-of-ug"  placeholder="Year of Passing">
     <i id="year-of-ug-check"class = "indicator">&#33;</i>
    </div>
   </div>


   <div class="inp">
    <input type="text" name="country" id="country-of-residence" placeholder="Country of Residence" required>
    <i id="country-of-residence-check" class="indicator">&#33;</i>
   </div>

   <div class="inp"><input type="text" name="dob" id="" placeholder="DOB"> <i id="year-of-ug-check"class = "indicator">&#33;</i></div>
   <div class="inp"><input type="date" name="" id="one"></div>


  <div class="inp">
    <input type="text" name="address" id="home-town" placeholder="Address" required>
    <i id="home-town-check"class = "indicator">&#33;</i>
  </div>
  <div class="inp">
    <!-- <input class="form-group"  type="file" name="avatar"> -->
    </div>
  <button type="submit" class = "btn btn-danger">Submit</button>


</div>
  </div>
 </form>

 <script src="./sign_up.js"></script>