@import url('https://fonts.googleapis.com/css?family=Gudea:400,700&display=swap&subset=latin-ext');

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
 font-family: 'Gudea', sans-serif;
 /* background: #b2dffb */
}

nav{
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  z-index: 100;
  background-color: #fffdf9;
  color: white;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.5);
 }

#one{
  color: black;
}
.navbar-brand{
 height: 60px;
}

.active{
 border-radius: 3px;
}

.nav-item{
 margin: 0 15px;
}

.file{
  padding: 2px;
  margin-left: px;
}
.fa-sign-in,.fa-caret-down{
 padding:10px;
 background: none;
 color: #fb5b5a;
}

.nav-link{
 color: black;
 display: inline-block;
}

.dropdown-item:hover{
 background-color: #fb5b5a;
 color: white;
}


.active{
 background-color: #fb5b5a;
 color: white;
}

.nav-item:hover,.nav-link:hover,.nav-item:hover .fa-sign-in{
 background-color: #fb5b5a;
 color: white;
}

.nav-button{
 border-radius: 3px;
 background-color: #fb5b5a;
}

.nav-item:hover #drop,.nav-item:hover .fa-caret-down{
 background-color: none;
 color: white;
}

h1{
  text-transform: uppercase;
  color: #34363E;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  line-height: 1.4rem;
  padding: 10px 10px;
  font-weight: 400;
}

.indicator{
  font-size: 1.4rem;
  font-weight: 900;
  font-style: normal;
}

.input-flex{
  display: flex;
}

i{
  color: rgb(146, 145, 145);
  padding: 1rem;
  /* background-color: rgb(75, 76, 82); */
  /* border-bottom: 1px solid rgb(75,76,82); */
}


span{
 color: white;
 /* background: rgb(75, 76, 82); */
 padding: .5rem 0.1rem 1rem 0.3rem;
 /* border-bottom: 1px solid rgba(248, 231, 231, 0.1); */
}

.fa-bars{
  background:none;
  border: none;
}

.cont{
 width:320px;
 background: transparent;
 /* background-color: #34363e; */
 box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
 border-radius: 3px;
 margin: auto;
}

.cont .inp{
  display: flex;
}

#personal-info{
  margin-top: 1rem;
}

.cont input{
 color: #34363E;
 width: 100%;
 box-shadow: 1px 1px solid rgba(179, 175, 175, 0.5);
}

.cont input[type = "text"],input[type = "password"],.cont input[type = "email"],
.cont input[type = "date"],input[type = "number" ]{
 /* background: rgb(75, 76, 82); */
 border: none;
 outline: none;
 padding: 1rem;
 border-bottom: 1px solid rgba(248, 231, 231, 0.1);
}


input[type = "number" ]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type = "date"]::-webkit-clear-button{
  display: none;
}

.cont input[type = "date"]{
 color: rgba(253, 252, 252, 0.74);
}

.cont input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 15px;
  color: white;
  background-color: #34363E;
  padding: 5px;
}
input[type = "date"]::-webkit-inner-spin-button { display: none; }


/* To style the date input  */
/* ::-webkit-datetime-edit-text { padding: 0 2rem; } */
/* ::-webkit-datetime-edit-month-field { text-transform: uppercase; } */
/* ::-webkit-datetime-edit-day-field { text-transform: uppercase; } */
/* ::-webkit-datetime-edit-year-field { text-transform: uppercase; } */

button{
 margin: 2rem 1.4rem 1.5rem 5rem;
 border-radius: 20px;
 width: 130px;
}

a{
   color: white;
   text-decoration: none;
 }
 button:hover a{
   color: #34363E;
 }

.skills{
  display: unset;
  width: 100%;
}

.skills h3{
  display: block;
  color: #34363E;
  padding: 10px;
  font-weight: 400;
}

.skills .skill-select{
  /* display: flex; */
  margin: 10px;
}

.skills .skill-select input{
  width: 20px;
  margin:10px 0;
}

.skills .skill-select input[type = "checkbox"]{
  font-size: 2rem;
}

.skills .skill-select label{
  color: rgb(146, 145, 145);
  line-height: 1.6rem;
  /* padding-bottom: 5px; */
  /* border: 1px solid white; */
}

#other-skills{
  background-color: rgba(253, 252, 252, 0.74);
  width: 100%;
  height: 100px;
  font-size: 1.1rem;
  display: none;
}

@media (max-width : 600px){
 .cont{
  width: 90vw;
overflow-x: hidden;

  margin: auto;
  height: auto;
 }

.nav-item .nav-link{
 /* margin: 0 15px; */
 display: block;
 width: 100%;
 padding: 1rem 1rem;
}

.fa-sign-in{
 padding: 10px;
}

.fa-bars{
  /* padding-left: 0; */
  background:none;
  border:none;
}

.navbar-header{
 /* margin: 0 0 0 2rem; */
 width: 240px;
}

.navbar-header h2{
 margin: 0;
 font-size: 0.9rem;
}
}
